#editArea {
	float:left;
	width:475px;
	height:300px;
}
textarea{
	height:95%;
	width:100%;
}
#checkArea {
	float:left;
	width:475px;
	height:300px;
}
#yourCode{
	width:100%;
	height:95%;
	resize:none;
}

.clear{
	clear:both;
}